.img-fondo {
  background: url('../../../images/img-home.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  z-index: -1;
}

.header {
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0;
  color: aliceblue;
}

.titulo-explicacion {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0;
  color: aliceblue;
}

.img-gameBoy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-gameBoy {
  background: url('../../../images/img-gameboy.jpg');
  width: 612px;
  height: 367px;
  margin-bottom: 25px;
}

.explicacion-juego {
  padding: 20px;
  text-align: center;
  color: azure;
}

#boton-jugar {
  color: black;
  background-color: white;
  width: 150px;
  height: 60px;
  font-size: 30px;
  border-radius: 20px;
}
