<div class="form-container">
  <div class="img-fondo"></div>
  <div class="header">Mi jueguito</div>
  <h1 class="titulo-explicacion">Explicacion de mi jueguito</h1>
  <div class="img-gameBoy-container">
    <div class="img-gameBoy">
      <p class="explicacion-juego">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, alias
        nam. Consequatur, explicabo eum? Unde quia facilis sunt voluptates
        impedit error quam blanditiis quis. Animi architecto quos voluptatem
        reiciendis neque.
      </p>
    </div>
    <div class="example-button-row">
      <button id="boton-jugar" mat-stroked-button>Jugar!</button>
    </div>
  </div>
</div>
